<html layout:decorate="~{layout}">
<meta charset="UTF-8"/>

<div layout:fragment="content" class="container-fluid my-3">   
    <div class="row justify-content-center">
        <!-- 왼쪽 컬럼 - 질문 및 답변 작성 -->
        <div class="col-md-6 pe-md-4" style="max-width: 600px;">
            <h2 class="border-bottom py-2 text-center" th:text="${question.subject}"></h2>
            
            <!-- 질문 컨텐츠 -->
            <div th:replace="~{fragments/question/content :: questionContent}"></div>


            <!-- 답변 작성 폼 -->
            <div th:replace="~{fragments/answer/form :: answerForm}"></div>
        </div>

        <!-- 오른쪽 컬럼 - 답변 목록 -->
        <div class="col-md-6 ps-md-4" style="max-width: 600px;">
            <!-- 답변 개수 및 정렬 버튼 -->
            <div th:replace="~{fragments/answer/header :: answerHeader}"></div>

            <!-- 답변 목록 -->
            <div th:each="answer : ${paging}">
                <div th:replace="~{fragments/answer/content :: answerContent}"></div>
            </div>

            <!-- 페이징 처리 -->
            <div th:replace="~{fragments/common/pagination :: pagination}"></div>
        </div>
    </div>

    <form th:action="@{|/question/detail/${question.id}|}" method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
        <input type="hidden" id="sort" name="sort" th:value="${sortType}">
    </form>
</div>

<!-- 댓글 수정 모달 -->
<div th:replace="~{fragments/common/comment-modal :: commentModal}"></div>

<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    // 삭제 스크립트
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    // 추천 스크립트
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>

</html>