<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th style="width:50%">제목</th>
				<th>글쓴이</th>
				<th>작성일시</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center" th:each="question, loop : ${paging}">
				<!-- 게시물 번호 -->
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>

				<!-- 게시물 제목 -->
				<td class="text-start">
					<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
					<span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
						th:text="${#lists.size(question.answerList)}"></span>
				</td>

				<!-- 글쓴이 표시 -->
				<td> <span th:if="${question.author != null}" th:text="${question.author.username}"></span> </td>

				<!-- 게시물 작성일시 -->
				<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH-mm')}"></td>
			</tr>
		</tbody>
	</table>

	<!-- 페이징 처리 시작 -->
	<div th:if="${!paging.isEmpty()}">
		<div class="d-flex justify-content-center align-items-center mb-2" style="max-width: 600px; margin: auto;">
			<ul class="pagination mb-0">
				<!-- 이전 버튼 -->
				<li class="page-item" th:classappend="${paging.number < 10} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${((paging.number/10)-1)*10}">
						<span>이전</span>
					</a>
				</li>

				<!-- 페이지 버튼 -->
				<li th:each="page: ${#numbers.sequence((paging.number/10)*10, (paging.number/10)*10+9)}"
					th:if="${page < paging.totalPages}" th:classappend="${page == paging.number} ? 'active'"
					class="page-item" style="min-width: 40px; max-width: 40px;">
					<a th:text="${page+1}" class="page-link text-center" href="javascript:void(0)" th:data-page="${page}"></a>
				</li>

				<!-- 다음 버튼 -->
				<li class="page-item" th:classappend="${(paging.number/10) >= (paging.totalPages/10)} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${((paging.number/10)+1)*10}">
						<span>다음</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="input-group mb-3" style="max-width: 515px; margin: auto;">
		<input type="text" id="search_kw" class="form-control" th:value="${kw}">
		<button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>

		<!-- 질문 등록 버튼 -->
		<a th:href="@{/question/create}" class="btn btn-primary ms-2">글쓰기</a>
	</div>

	<form th:action="@{/question/list}" method="get" id="searchForm">
		<input type="hidden" id="kw" name="kw" th:value="${kw}">
		<input type="hidden" id="page" name="page" th:value="${paging.number}">
	</form>
</div>

<!-- JavaScript -->
<script layout:fragment="script" type='text/javascript'>
	const page_elements = document.getElementsByClassName("page-link");
	Array.from(page_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			document.getElementById('page').value = this.dataset.page;
			document.getElementById('searchForm').submit();
		});
	});

	const btn_search = document.getElementById("btn_search");
	btn_search.addEventListener('click', function () {
		document.getElementById('kw').value = document.getElementById('search_kw').value;
		document.getElementById('page').value = 0;
		document.getElementById('searchForm').submit();
	});
</script>

</html>